<div class="jumbotron">
  <h1>Investment fund vs. Bank deposit calculator</h1>

  <%= render "comparator/deposit_value"%>
  <%= render "comparator/interest_rate"%>
  <%= render "comparator/compounding_frequency"%>
  <%= render "comparator/datepickers"%>



  <%= button_tag "Calculate and draw a chart!",
                 type: 'button',
                 onclick: "calculateDeposit();",
                 class: 'btn btn-primary',
                 method: :put,
                 remote: true %>


  <div id="comparator-chart"></div>


  <p id="deposit-final-value" style="display: none"></p>
  <br>
  <p id="investment-final-value" style="display: none"></p>
</div>

