<!DOCTYPE html>
<html>
<head>
  <title>FundTracker</title>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container theme-showcase" role="main">
  <%= render "layouts/navbar" %>
  <%= render "layouts/jumbotron" %>
  <%= yield %>
  <%= render "funds/datepicker" %>
  <%= render "funds/table" %>


</div> <!-- /container -->

</body>
</html>
